.create{
    padding-top: 75px;
    min-height: 100vh;  
    background-color: #f8f8ff;  
    height: auto;
}

.h1-create{
    margin: auto;
    margin-top: 100px;
}

.event-create-container{
    width: 80%;
    margin: auto;
    display: grid;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    padding-bottom: 50px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    height: auto;
}

.event-create-card{
    padding: 50px;
    border-radius: 25px;
    background-color:  #eeedf2;
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
}

.create-page{
    display: grid;
    grid-template-columns: 25% 75%; 
    height: auto;
}

.create-nav-container{
    border-top-right-radius: 25px;
    background-color: #549635;  
    position: relative;
    width: 100%;
    padding: 20px;
    height: 100%;
}

.ticket-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    min-height: 256px;
}

.ticket-display{
 height: 100%;
 width: 100%;
}

.ticket-list{
    display: grid;
    grid-template-columns: 90%;
    grid-auto-rows: 75px;
    grid-gap: 20px;
    justify-content: center;
}

.ticket-add{
    height: 100%;
    width: 100%;
}


.ticket-card{
    border-radius: 25px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly ;
    justify-items: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .create-page{
        display: flex;
        position: relative;
        min-width: 100%;
        flex-wrap: wrap;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .create-page::-webkit-scrollbar { 
        display: none;
    }
    .create-nav-container{
        display: none;
    }
    .event-create-container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .event-create::-webkit-scrollbar { 
        display: none;
    }
    .ticket-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        min-height: 1100px;
    }
    .event-create-card{
        padding: 20px;
    }
}
  
@media only screen and (min-width: 600px) {
    .create-page{
        display: flex;
        position: relative;
        min-width: 100%;
        flex-wrap: wrap;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .create-page::-webkit-scrollbar { 
        display: none;
    }
    .create-nav-container{
        display: none;
    }
    .event-create-container{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none; 
    }
    .event-create-container::-webkit-scrollbar { 
        display: none;
    }
    .ticket-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        min-height: 1100px;
    }
    .event-create-card{
        padding: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .create-page{
        display: grid;
        grid-template-columns: 25% 75%; 
    }
    .create-nav-container{
        display: block;
    }
    .logo{
        color: white;
    }
    .ticket-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        min-height: 256px;
    }
} 

@media only screen and (min-width: 992px) {
    .create-page{
        display: grid;
        grid-template-columns: 25% 75%; 
    }
    .create-nav-container{
        display: block;
    }
    .logo{
        color: white;
    }
    .ticket-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        min-height: 256px;
    }
} 

@media only screen and (min-width: 1200px) {
    .create-page{
        display: grid;
        grid-template-columns: 25% 75%; 
    }
    .create-nav-container{
        display: block;
    }
    .logo{
        color: white;
    }
    .ticket-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        min-height: 256px;
    }
}